@model train_booking.ViewModels.TrainDrivers.TrainDriverFormViewModel

@{
    ViewData["Title"] = "Додавання машиніста";

    ViewData["Action"] = "Create";
}


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Форма машиніста</h4>
                @await Html.PartialAsync("_TrainDriverForm", Model, ViewData)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/validationWarning.js"></script>
}
