@{
    ViewData["Title"] = "Головна";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Головна</title>


    <link href="~/lib/template/landing-page/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/template/landing-page/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="~/lib/template/landing-page/css/landing-page.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/lib/template/images/favicon-32.png" />

</head>

<body>
    <header class="masthead text-white text-center">
        <div class="overlay">
            <nav class="navbar navbar-light bg-ligh static-top">
                <div class="container">
                    <img class="w-25" src="~/lib/template/landing-page/img/logo-landpage.png">
                    <button type="button" class="btn btn-landing-login btn-outline-primary" href="#">
                        <span class="btn-landing-login-text">Вхід</span>
                    </button>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-3 landing-text">Купити ЖД квитки онлайн</h1>
                </div>
                <div class="col-md-10 col-lg-9 col-xl-9 mx-auto">
                    <form>
                        <div class="form-row d-flex justify-content-between">
                            <div>
                                <input type="search" class="form-control " placeholder="Звідки">
                            </div>
                            <div>
                                <input type="search" class="form-control  " placeholder="Куди">
                            </div>
                            <div>
                                <input type="date" class="form-control  " placeholder="Дата">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-block btn-group-sm btn-danger">Знайти</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>


    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-list m-auto text-primary"></i>
                        </div>
                        <h3>Розклад поїздів</h3>
                        <p class="lead mb-0">Будьте завжди в курсі! Розклад поїздів, маршрути, станції</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-magnifier m-auto text-primary"></i>
                        </div>
                        <h3>Шукаємо квиток за вас</h3>
                        <p class="lead mb-0">Немає потрібних квитків? Ми знайдемо їх і миттєво сповістимо вас про це</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-check m-auto text-primary"></i>
                        </div>
                        <h3>Повернення квитків онлайн</h3>
                        <p class="lead mb-0">Змінились плани? Поверніть кошти за квиток через наш сайт!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/lib/template/landing-page/img/ukraine.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Популярні напрямки по Україні</h2>
                        <p>&bull; Київ-Пасажирський → Львів</p>
                        <p>&bull; Київ-Пасажирський → Харків-Пас</p>
                        <p>&bull; Київ-Пасажирський → Одеса-Головна</p>
                        <p>&bull; Київ-Пасажирський → Дніпро-Головний</p>
                        <p>&bull; Київ-Пасажирський → Вінниця</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/lib/template/landing-page/img/ukraine.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Пошук і бронювання ж/д квитків</h2>
                        <p>Щоб знайти ж/д квитки потрібно декілька секунд. Введіть:</p>
                        <p>&bull; Пункт відправлення та призначення</p>
                        <p>&bull; Дата поїздки.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/lib/template/landing-page/img/vokzal.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Наші переваги</h2>
                        <p>&bull; Легкий процес пошуку і покупки</p>
                        <p>&bull; Відсутність додаткових зборів і комісій</p>
                        <p>&bull; Дотримання безпеки даних, що вводяться</p>
                        <p>&bull; Економія часу</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonials text-center bg-light">
        <div class="container">
            <h2 class="mb-5">Відгуки наших клієнтів</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/lib/template/landing-page/img/testimonials-1.jpg" alt="">
                        <h5>Савенко Елена</h5>
                        <p class="font-weight-light mb-0">"Спасибо большое. У вас на сайте решила все свои вопросы касающиеся поездки!"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/lib/template/landing-page/img/testimonials-2.jpg" alt="">
                        <h5>Максим Ольховик</h5>
                        <p class="font-weight-light mb-0">"Вперше замовляв квиток через цей сайт, мені сподобалось, зручний сервіс"</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="~/lib/template/landing-page/img/testimonials-3.jpg" alt="">
                        <h5>Наталия Ерикссон</h5>
                        <p class="font-weight-light mb-0">"Я обратилась и мне дали информацию, которая меня интересовала."</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    @*<section class="call-to-action text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                    </div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <form>
                            <div class="form-row">
                                <div class="col-12 col-md-9 mb-2 mb-md-0">
                                    <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
                                </div>
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>*@


    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; ListWise 2020. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook-official fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/template/landing-page/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/template/landing-page/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>