@model train_booking.ViewModels.Dispatchers.DispatcherFormViewModel


<form class="form-sample" method="post" asp-controller="Dispatcher" asp-action="@ViewData["Action"]">
    <div asp-validation-summary="ModelOnly"></div>
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.DispatcherId)

    <p class="card-description">
        Особиста інформація:
    </p>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label asp-for="LastName" class="col-sm-3 col-form-label">Прізвище:</label>
                <div class="col-sm-9">
                    <input asp-for="LastName" type="text" class="form-control" maxlength="50" />
                    <span class="small" asp-validation-for="LastName"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label asp-for="FirstName" class="col-sm-3 col-form-label">Ім'я:</label>
                <div class="col-sm-9">
                    <input asp-for="FirstName" type="text" class="form-control" maxlength="50" />
                    <span class="small" asp-validation-for="FirstName"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label asp-for="MiddleName" class="col-sm-3 col-form-label">По батькові:</label>
                <div class="col-sm-9">
                    <input asp-for="MiddleName" type="text" class="form-control" maxlength="50" />
                    <span class="small" asp-validation-for="MiddleName"></span>
                </div>
            </div>
        </div>
        @if ((string)ViewData["Action"] == "Create")
        {
            <div class="col-md-6">
                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-3 col-form-label">Електронна пошта:</label>
                    <div class="col-sm-9">
                        <input asp-for="Email" type="email" class="form-control" maxlength="30" />
                        <span class="small" asp-validation-for="Email"></span>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="form-group row">
                <label asp-for="Passport" class="col-sm-3 col-form-label">Номер паспорта:</label>
                <div class="col-sm-9">
                    <input asp-for="Passport" type="text" class="form-control" maxlength="15" />
                    <span class="small" asp-validation-for="Passport"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label asp-for="Address" class="col-sm-3 col-form-label">Адреса:</label>
                <div class="col-sm-9">
                    <input asp-for="Address" type="text" class="form-control" maxlength="600" />
                    <span class="small" asp-validation-for="Address"></span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <label asp-for="BirthDate" class="col-sm-3 col-form-label">Дата народження:</label>
                <div class="col-sm-9">
                    <input asp-for="BirthDate" type="date" class="form-control" />
                    <span class="small" asp-validation-for="BirthDate"></span>
                </div>
            </div>
        </div>
    </div>
    @if ((string)ViewData["Action"] == "Create")
    {
        <p class="card-description">
            Налаштування безпеки:
        </p>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label asp-for="Password" class="col-sm-3 col-form-label">Пароль:</label>
                    <div class="col-sm-9">
                        <input asp-for="Password" type="password" class="form-control" />
                        <span class="small" asp-validation-for="Password"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label">Повторіть пароль:</label>
                    <div class="col-sm-9">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span class="small" asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
            </div>
        </div>
    }
    <button type="submit" class="btn btn-primary mb-2 mt-5">Зберегти</button>
</form>
