@model train_booking.ViewModels.Dispatchers.DispatcherFormViewModel
@{
    ViewData["Title"] = "Редагувати диспетчера";

    ViewData["Action"] = "Edit";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Форма диспетчера</h4>
                @await Html.PartialAsync("_DispatcherForm", Model, ViewData)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/validationWarning.js"></script>
}